body {
    margin: 0;

}

.heading1 {
    color: #CA9C4E;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    display: flex;
    justify-content: center;
}

.heading2 {
    color: #181312;
    font-size: 32px;
    font-weight: 500;
    line-height: 35px;
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    justify-content: center;
    text-align: center;
}

.paragraph3 {
    width: 100%;
    color: #4F4F4F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    /* Centers the text inside the div */
    margin: 0 auto;
    /* Centers the div itself horizontally */

}

.section-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.section-heading .line {
    width: 40px;
    height: 2px;
    background-color: #333;
}


.section-heading h2 {
    font-size: 35px;
    font-weight: 500;
    color: #333;
    margin: 0;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.primary-btn {
    color: #1E1E1E;
    font-size: 16px;
    background-color: transparent;
    padding: 10px 30px 10px 30px;
    border: 1px solid #D2232A;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}

.image_section {
    display: flex;
    justify-content: flex-start;

}

.image_section img {
    width: 100%;
}

.my-image {
    border-radius: 15px;
}

.heading4 {
    font-size: 35px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
}

.paragraph4 {
    font-size: 15px;
    font-weight: 400;
    width: 80%;
}

.secondary-btn {
    color: #FFFFFF;
    font-size: 16px;
    background-color: #D2232A;
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;

}

.image_section_container {
    gap: 40px;
}

.container+.image_section_container {
    flex-direction: row;
}

.container {
    padding: 50px;
}




/* mobile view  */
@media (max-width: 767px) {
    body {
        display: block;
        height: auto;
    }

    .heading1 {
        font-size: 14px;
        /* Reduce font size on smaller screens */
        line-height: 18px;
    }

    .heading2 {
        font-size: 24px;
        /* Reduce font size for headings */
        line-height: 28px;
    }

    .paragraph3 {
        font-size: 14px;
        /* Reduce font size for text */
        line-height: 22px;
    }

    .div1,
    .div2,
    .div3 {
        margin-bottom: 15px;
        /* Add space between the sections */
    }

    .container {
        padding-top: 5px;
        padding-right: 16px;
        padding-bottom: 5px;
        padding-left: 16px;
    }

    .container+.image_section_container {
        flex-direction: column;
    }
}

/* tablets and desktop */
@media only screen and (min-width: 768px) {
    .div3 {
        width: 45%;
    }

    .about .div3 {
        width: 95%;
    }

    .image_section,
    .host {
        width: 50%;

    }
}